<div class="home__container">
  <app-card gameCover="/assets/bt-5.jpg" gamePrice="200,00" gameLabel="Exclusivo"></app-card>
  <app-card gameCover="/assets/bt-1.jpg" gamePrice="300,00" gameLabel="Exclusivo"></app-card>
  <app-card gameCover="/assets/bt-4.jpg" gamePrice="300,00" gameLabel="Exclusivo"></app-card>
  <app-card gameCover="/assets/bt-bad-company-2.jpg" gamePrice="300,00" gameLabel="Exclusivo"></app-card>
  <app-card gameCover="/assets/bt-hardline.jpg" gamePrice="300,00" gameLabel="Exclusivo"></app-card>
</div>
